#body{
  background: gray;
}
.custom-zoom-btn {
  transition: transform 0.2s ease-in-out; /* Suaviza la animación */
}

.custom-zoom-btn:hover {
  transform: scale(1.40); /* Agranda el botón un 5% al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra sutil */
}

#jorge {
  display: none;
  /* Ocultación del elemento inicialmente */
  border: none;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  }